<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
<style type="text/css">
	#Ubtn1{
		width: 180px;height: 50px;font-size: 16px; border-radius: 0px;
	}
	#Ubtn2{
		width: 180px;height: 50px;font-size: 16px; border-radius: 0px;
	}
	
input{
	width: 360px;
	height: 50px;
	font-size: 16px;
	border:1px solid skyblue;
	border-radius: 5px;



}
</style>
</head>
<body ng-app="myapp" ng-controller="myctrl" ng-init="bgcolor1='lightgreen';bgcolor2='skyblue'" style="background-size: cover;background-image: url(bg3.jpg);background-repeat: no-repeat;">
	
	<div class="container-fluid">

          			
          		
         <div style="text-align: center;position: relative;margin-top: 2%;">
         	<h3 style="font-family: Segoe Script;color: #E0FFFF">User SignIn/SignUp Page Using AngularJs</h3>
         	<span style="color:#7CF7CA;font-size: 50px;" class="glyphicon glyphicon-user"></span>
         	<div>
    <span><input id="Ubtn1"  type="button" value="SignIn" ng-model="chk1" ng-click="fun1()" style="background-color: {{bgcolor1}};"><input id="Ubtn2" type="button" value="SignUp" ng-model="chk2" ng-click="fun2()" style="background-color: {{bgcolor2}};"></span>
</div>
<form method="post">
<div ng-show="chk1">
        <input type="text" placeholder="Username" required><br>
        <input type="password" placeholder="Password" required><br>
        <input type="submit" value="Login" style="background-color: #AFEEEE" ><br><br>
        
    </div>
<div ng-hide="chk2">
		<input type="text" placeholder="Full name" required><br>
		<input type="text" placeholder="Username" required><br>
        <input type="email" placeholder="Email" required><br>
        <input type="number" placeholder="Mobile Number" required><br>
        <input type="password" placeholder="Confirm Password" required><br>
        <input type="password" placeholder="Password" required><br>
        
        <input  type="submit" value="Submit" ng-model="chk2" style="background-color: #AFEEEE" >
</div>
</form>
         		
         
     	
</div>
<div class="container"><br>
			<div style="font-family: Segoe Script;background-color:#dcdcdc;font-weight: bold;">
				<h10><center>Copyright &copy;Tausif Ahmad</center></h10>
			</div>
 		</div>
 	</div>

</body>
<script>
var app=angular.module("myapp",[]);
app.controller("myctrl",function($scope){
$scope.fun1=function(){
$scope.chk1=true;
$scope.chk2=true;
$scope.bgcolor1="white";
$scope.bgcolor2="skyblue";

}
$scope.fun2=function(){
$scope.chk1=false;
$scope.chk2=false;
$scope.bgcolor2="white";
$scope.bgcolor1="lightgreen";
}
});
</script>
</html>